body{
	background-color:#dcdcdc;
	padding: 0;
	margin: 0;
}
.content{
	width: 500px;
	margin: 0 auto;
	border: 1px solid #ccc;
	background-color: aliceblue;
	padding: 0px 20px;
}
.header,.maincontent{
	border-bottom: 1px solid #ccc;
}

.maincontent{
	height: 300px;
	overflow: auto
}
#showDiv{
	border-bottom: 1px solid #ccc;
}
.header, .footer{
	text-align: center;
}
#picme{
	background-color: aqua;
}
.gameboard{
	width: 400px;
	height:350px;
	margin: 0 auto;
	border: 1px solid #ddd;
}
.office{
	float: left;
	width: 100px;
	height: 130px;
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
	margin: 2px 3px;
}
.desk{
	width: 100%;
	height: 20px;
	position:absolute;
	background-color: burlywood;
	z-index: 2;
}
.computer{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	background:#cdcdcd;
}
.office:hover .computer{
	top: 0;
	-webkit-transition: width 2s; 
	transition: width 2s;
}